.board-container {
  display: flex; 
  align-items: flex-start; 
  overflow-x: auto; 
  padding: 20px;
  gap: 10px; 
  height: 90vh; 
}

.board {
  display: flex;
  flex-direction: column; 
  width: 320px;
  background-color: none; 
  padding: 10px; 
  margin-right: 10px; 
  border-radius: 5px;
}

.add-list-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.add-list-button button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f1f1f1; 
  color: black;
  border: none;
  border-radius: 5px;
}

.add-list-button button:hover {
  background-color: #b6b4b4;
}
